<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDkgBNz53yPMiUn9TDooI_AXs7P2ENmxI</string>
	<key>GCM_SENDER_ID</key>
	<string>406976813826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.typesoft.firebaseMetadataChanges</string>
	<key>PROJECT_ID</key>
	<string>test-metadata-changes</string>
	<key>STORAGE_BUCKET</key>
	<string>test-metadata-changes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406976813826:ios:d8f0e5fe25fc088e5a401b</string>
</dict>
</plist>